<!-- Breadcrumb  -->
<section class="breadcrumb-section" style="background-color: #6097c4">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-xs-12 text-center">
              <div class="breadcrumb-content">
                  <h2  style="font-family:courier;"><b>Profile</b></h2>
                  <ul>
                      <li  style="font-family:courier;">Profile</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- /.breadcrumb-section  -->
<!--<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand Name</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class=""><a href="#">Home</a></li>
        <li class=""><a href="#">Locations</a></li>
        <li class=""><a href="#">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            Sign In<span class="caret"></span>
          </a>
          <div class="dropdown-menu" id="formLogin">
            <div class="row">
              <div class="container-fluid">
                <form>
                  <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" name="username" id="username" type="text">
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" name="password" id="password" type="password"><br>
                  </div>
                  <button type="submit" id="btnLogin" class="btn btn-success btn-sm">Login</button>
                </form>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#" data-toggle="modal" data-target='#modalRegister'>Register</a></li>
      </ul>

    </div>--><!--/.navbar-collapse -->
  <!--</div>
</nav>-->


    <!-- Modal -->
   <!-- <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Are you sure you want to sign out?</h4>
          </div>
          <div class="modal-footer">
            <a href="sign-in.html" class="btn btn-primary">Yes</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>


<div class="container" style="margin-top: 150px;">
  <div class="fb-profile">
          <img align="left" class="fb-image-profile thumbnail" src="assets/lion.jpg" alt="Profile image example"/>
      <div class="fb-profile-text">
          <h1>11plus.co.uk</h1>
          <p>Make a Carrier worthwhile</p>
          <div class="container">
            <h2>Modal Example</h2>-->
            <!-- Trigger the modal with a button -->
           <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Student</button>

            <div class="container">
              <h2>Hover Rows</h2>
              <p>The .table-hover class enables a hover state on table rows:</p>            
              <table class="table table-hover">
                <thead>
                  <tr>
                   
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Confirm Password</th>
                    <th>Year</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let i of user'>
                    
                    <td>{{i.firstName}}</td>
                    <td>{{i.lastName}}</td>
                    <td>{{i.email}}</td>
                      <td>{{i.password}}</td>
                      <td>{{i.confirmPassword}}</td>
                      <td>{{i.year}}</td>
                      <td> <button type="button" value="Delete" class="btn btn-danger" (click)='delRecord(i.id)'>Delete</button>  </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>-->


            <!-- Modal -->
            <!--<div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">-->

                <!-- Modal content-->
               <!-- <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Child Registration</h4>
                  </div>
                  <div class="modal-body">
                    <div class="col-md-10 col-lg-10 col-md-offset-1">
                      <h3>Forms</h3>

                      <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">


                        <div class="form-group">
                          <label for="firstName">First Name:</label>

                          <input type="text" class="form-control" id="firstName"
                                 required
                                 pattern="^[a-zA-Z\s]*$"
                                 [(ngModel)]="model.firstName" name="firstName"
                                 #firstName="ngModel">
                          <div [hidden]="firstName.valid || firstName.pristine"
                               class="alert alert-danger">
                                <div [hidden]="!firstName.hasError('required')">Name is required</div>
                            <div [hidden]="!firstName.hasError('pattern')">Only alphabetsallowed</div>
                          </div>
                        </div>



                              <div class="form-group">
                          <label for="lastName">Last Name:</label>
                          <input type="text" class="form-control" id="lastName"
                                   required
                                 pattern="^[a-zA-Z\s]*$"
                                 [(ngModel)]="model.lastName" name="lastName"
                                 #lastName="ngModel">
                          <div [hidden]="lastName.valid || lastName.pristine"
                               class="alert alert-danger">
                                <div [hidden]="!lastName.hasError('required')">LastName is required</div>
                            <div [hidden]="!lastName.hasError('pattern')">Only alphabetsallowed</div>
                          </div>
                        </div>






                        <div class="form-group">
                          <label for="name">Email Address:</label>
                          <input type="text" class="form-control" id="emailaddress"
                                 required
                                 [(ngModel)]="model.email" name="email"
                                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                 #email="ngModel">
                          <div [hidden]="email.valid || email.pristine"
                               class="alert alert-danger">
                            <div [hidden]="!email.hasError('required')">Email is required</div>
                            <div [hidden]="!email.hasError('pattern')">Email format should be <small><b>joe@abc.com</b></small></div>
                          </div>
                        </div>






                        <div class="form-group">
                          <label for="name">Password:</label>
                          <input type="password" class="form-control" id="password"
                                 required
                                 [(ngModel)]="model.password" name="password" minlength="6"
                                 #password="ngModel">
                          <div [hidden]="password.valid || password.pristine"
                               class="alert alert-danger">
                            Password is required
                          </div>
                        </div>



                        <div class="form-group">
                          <label for="name">Confirm Password:</label>
                          <input type="password" class="form-control" id="confirmPassword"
                                 required
                                 validateEqual="password" minlength="6"
                                 [(ngModel)]="model.confirmPassword" name="confirmPassword"
                                 #confirmPassword="ngModel">
                          <div [hidden]="confirmPassword.valid || confirmPassword.pristine"
                               class="alert alert-danger">
                               Passwords did not match
                          </div>
                        </div>


                        <div class="form-group">
                          <label>Year:</label>
                            <select class="form-control" (change)= "selectAge($event.target.value)" id="year">
                              <option>select</option>
                               <option *ngFor='let i of age' [value]="i">{{i}}</option>
                            </select>
                          </div>



                        <button type="button" (click)="Sub(firstName.value , lastName.value, email.value,
                          password.value, confirmPassword.value,'')" data-dismiss="modal" class="btn btn-success btn-block"
                          [disabled]="!loginForm.form.valid">Submit</button>
                      </form>
                    </div>

                  </div>
                  <div class="modal-footer">

                  </div>
                </div>

              </div>
            </div>

          </div>
</div>--> <!-- /container -->



  
<!-- Modal -->
<!--<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">Are you sure you want to sign out?</h4>
    </div>
    <div class="modal-footer">
      <a href="sign-in.html" class="btn btn-primary">Yes</a>
      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
    </div>
  </div>
</div>
</div>-->






<!--final template-->
<div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-push-2" style="background-color:rgb(255, 255, 255);"><ul class="nav nav-pills">
        <li><a data-toggle="pill" href="#home">My Offers</a></li>
        <li><a data-toggle="pill" href="#menu1">Add Student</a></li>
        <li><a data-toggle="pill" href="#menu2">My Student List</a></li>
        <li><a data-toggle="pill" href="#menu3">My Bookings</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade ">

<app-cards></app-cards>
          </div>
        <div id="menu1" class="tab-pane fade">


              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                
              </div>
              <div class="form-group row"><h4 class="modal-title" style="text-align:center; font-size:50px; color:#8cb3f2">Child Registration</h4></div>
              <div class="modal-body">
                <div class="col-md-6 col-lg-6 col-md-offset-2">
                  <h3>Forms</h3>

                  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">


                    <div class="form-group">
                      <label for="firstName">First Name:</label>

                      <input type="text" class="form-control" id="firstName"
                             required
                             pattern="^[a-zA-Z\s]*$"
                             [(ngModel)]="model.firstName" name="firstName"
                             #firstName="ngModel">
                      <div [hidden]="firstName.valid || firstName.pristine"
                           class="alert alert-danger">
                            <div [hidden]="!firstName.hasError('required')">Name is required</div>
                        <div [hidden]="!firstName.hasError('pattern')">Only alphabetsallowed</div>
                      </div>
                    </div>



                          <div class="form-group">
                      <label for="lastName">Last Name:</label>
                      <input type="text" class="form-control" id="lastName"
                               required
                             pattern="^[a-zA-Z\s]*$"
                             [(ngModel)]="model.lastName" name="lastName"
                             #lastName="ngModel">
                      <div [hidden]="lastName.valid || lastName.pristine"
                           class="alert alert-danger">
                            <div [hidden]="!lastName.hasError('required')">LastName is required</div>
                        <div [hidden]="!lastName.hasError('pattern')">Only alphabetsallowed</div>
                      </div>
                    </div>






                    <div class="form-group">
                      <label for="name">Email Address:</label>
                      <input type="text" class="form-control" id="emailaddress"
                             required
                             [(ngModel)]="model.email" name="email"
                             pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                             #email="ngModel">
                      <div [hidden]="email.valid || email.pristine"
                           class="alert alert-danger">
                        <div [hidden]="!email.hasError('required')">Email is required</div>
                        <div [hidden]="!email.hasError('pattern')">Email format should be <small><b>joe@abc.com</b></small></div>
                      </div>
                    </div>






                    <div class="form-group">
                      <label for="name">Password:</label>
                      <input type="password" class="form-control" id="password"
                             required
                             [(ngModel)]="model.password" name="password" minlength="6"
                             #password="ngModel">
                      <div [hidden]="password.valid || password.pristine"
                           class="alert alert-danger">
                        Password is required
                      </div>
                    </div>



                    <div class="form-group">
                      <label for="name">Confirm Password:</label>
                      <input type="password" class="form-control" id="confirmPassword"
                             required
                             validateEqual="password" minlength="6"
                             [(ngModel)]="model.confirmPassword" name="confirmPassword"
                             #confirmPassword="ngModel">
                      <div [hidden]="confirmPassword.valid || confirmPassword.pristine"
                           class="alert alert-danger">
                           Passwords did not match
                      </div>
                    </div>


                    <div class="form-group">
                      <label>Year:</label>
                        <select class="form-control" (change)= "selectAge($event.target.value)" id="year">
                          <option>select</option>
                           <option *ngFor='let i of age' [value]="i">{{i}}</option>
                        </select>
                      </div>



                    <button type="button" (click)="Sub(firstName.value , lastName.value, email.value,
                      password.value, confirmPassword.value,'')" data-dismiss="modal" class="btn btn-success btn-block"
                      [disabled]="!loginForm.form.valid">Submit</button>
                  </form>
                </div>

              </div>


              <div class="modal-footer">

              </div>

        </div>
        <div id="menu2" class="tab-pane fade">

           <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                 
                  <th>FirstName</th>
                  <th>LastName</th>
                  <th>Email</th>
                  <th>Password</th>
                  <th>Confirm Password</th>
                  <th>Year</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let i of user'>
                  
                  <td>{{i.firstName}}</td>
                  <td>{{i.lastName}}</td>
                  <td>{{i.email}}</td>
                    <td>{{i.password}}</td>
                    <td>{{i.confirmPassword}}</td>
                    <td>{{i.year}}</td>
                    <td> <button type="button" value="Delete" class="btn btn-danger" (click)='delRecord(i.id)'>Delete</button>  </td>
                </tr>
                
              </tbody>
            </table>
            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
          <h3></h3>
          <p></p>
        </div>
      </div>
    </div>
      <div class="col-md-2 col-md-pull-10"><img src="assets/lion.jpg" alt="11plus" class="img-thumbnail" style="background-color: #777" >


        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>Abhishek</td>
                  </tr>
                  <tr>
                      <td>Role</td>
                      <td>Parent</td>
                    </tr>
            </table>
          </div>


      </div>
    </div>
    </div>

