<!-- Breadcrumb  -->
        <section class="breadcrumb-section" style="background-color: #6097c4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 text-center">
                        <div class="breadcrumb-content">
                            <h2  style="font-family:courier;"><b>About Us</b></h2>
                            <ul>
                                <li  style="font-family:courier;"><a>Home</a><span>/</span></li>
                                <li  style="font-family:courier;">Login</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.breadcrumb-section  -->

<div class="container">  
<div class="col-md-6">
  <br>
    <h3>Login</h3>
    <br>
    <form #loginForm="ngForm">


          <div class="form-group">
        <label for="name">Email Address</label>
        <input type="text" class="form-control" id="email" #email
               required>
              
      </div>



      <div class="form-group">
        <label for="name">Password</label>
        <input type="password" class="form-control" id="password" #password
               required>
               </div>


      <div class="form-group">
            <button (click)="Sub(email.value,password.value)" class="btn btn-success"   [disabled]="!loginForm.form.valid">Login</button>
            <a class="btn btn-link" [routerLink]="['/register']">Register</a>
        </div>
          <br>

    </form></div>
</div>