
  <!-- Breadcrumb  -->
        <section class="breadcrumb-section" style="background-color: #6097c4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 text-center">
                        <div class="breadcrumb-content">
                            <h2  style="font-family:courier;"><b>FAQ</b></h2>
                            <ul>
                                <li  style="font-family:courier;"><a>Home</a><span>/</span></li>
                                <li  style="font-family:courier;">FAQ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.breadcrumb-section  -->





<div class="container-fluid">

<div class="col-md-12">


  <div class="content">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<!-- newly added -->

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSe17">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSe17" aria-expanded="false" aria-controls="collapseSe1" class="collapsed">
1.	Do you have any videos on how to register and take tests?

      </a>
    </h4>
  </div>
  <div id="collapseSe17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSe17" aria-expanded="false" style="height: 0px;">
    <div class="panel-body">
<p>


</p><p>a)	Please click on below link for video on registration and taking demo/free tests:
<a href="https://youtu.be/luGPy4cStog" target="_blank"><strong style="color:#27ae60;">https://youtu.be/luGPy4cStog</strong></a></p>

<p>b)	Please click on below link for video on taking Maths Test:
<a href="https://youtu.be/C_FPVHAPJjY" target="_blank"><strong style="color:#27ae60;">https://youtu.be/C_FPVHAPJjY</strong></a></p>

<p>c)	Please click on below link for video on taking English Comprehension Test:
<a href="https://youtu.be/oIO5KbVSL20" target="_blank"><strong style="color:#27ae60;">https://youtu.be/oIO5KbVSL20</strong></a></p>

<p>d)	Please click on below link for video on taking Synonyms test:
<a href="https://youtu.be/37mxr_1KMEQ" target="_blank"><strong style="color:#27ae60;">https://youtu.be/37mxr_1KMEQ</strong></a></p>

<p>e)	Please click on below link for video on taking NVR test:
<a href="https://youtu.be/GF2VcEJjhLk" target="_blank"><strong style="color:#27ae60;">https://youtu.be/GF2VcEJjhLk</strong></a></p>


<p></p>
  </div>
  </div>
</div>

  <div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingFi">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFi" aria-expanded="false" aria-controls="collapseFi" class="collapsed">
     2. How to register?
      </a>
    </h4>
  </div>
  <div id="collapseFi" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFi" aria-expanded="false" style="height: 0px;">
    <div class="panel-body">
    <p><strong>Step 1</strong><br>
  <strong style="color:#27ae60;">As a parent you have to register yourself and your child by clicking Register button on home screen.</strong><br>
  <img src="https://11plusehelp.co.uk//assets/designs/faq-images/home-register-header.png" width="100%">
  </p>
  <p><strong>Step 2</strong><br>
  <strong style="color:#27ae60;">You will be prompted to fill in the details in the form and click Submit button.</strong><br>
  <img src="https://11plusehelp.co.uk//assets/designs/faq-images/user-register-form.png" width="100%">
  </p>

  <p><strong>That’s it! You are now registered.</strong></p>
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSe18">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSe18" aria-expanded="false" aria-controls="collapseSe1" class="collapsed">
3.	How to reset Parent’s password?

      </a>
    </h4>
  </div>
  <div id="collapseSe18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSe18" aria-expanded="false">
    <div class="panel-body">
<p><strong style="color:#27ae60;">In the login screen click on “Forgot Password?” link.
Enter your email id and submit.
</strong></p>
<p>
<img src="https://11plusehelp.co.uk//assets/designs/faq-images/11plus-reset-password.png" width="100%"></p>
<p>You will get Reset Password Link to your registered e-mail. Please follow the instructions and reset your password. <strong style="color:#27ae60;">If you don’t see mail in your inbox, please check out your Promotions / Spam folder.</strong></p>
  </div>
  </div>
</div>




 <div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSe19">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSe19" aria-expanded="false" aria-controls="collapseSe1" class="collapsed">
4.What do I do if I forget my child’s login details (user name/ password)?

      </a>
    </h4>
  </div>
  <div id="collapseSe19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSe19" aria-expanded="false">
    <div class="panel-body">
<p><strong style="color:#27ae60;">Login as parent and click on the children menu on left side as shown below.
</strong></p>
<p>
<img src="https://11plusehelp.co.uk//assets/designs/faq-images/11plus-child-forgot.png" width="100%"></p>
<p>All the registered children’s username can be found here.<br>In the children menu, click on Edit.</p>
<p>
<img src="https://11plusehelp.co.uk//assets/designs/faq-images/11plus-child-forgot2.png" width="100%"></p>
<p>Please update the password and click update. </p>
<img src="https://11plusehelp.co.uk//assets/designs/faq-images/11plus-child-forgot-3.png" width="100%"><p></p>
  </div>
  </div>
</div>



 <div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOn">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOn" aria-expanded="false" aria-controls="collapseOn" class="collapsed">
      5. How to take subscription?
      </a>
    </h4>
  </div>
  <div id="collapseOn" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOn" aria-expanded="false">
    <div class="panel-body">
     <p><strong style="color:#27ae60;"></strong></p><ul><li><strong style="color:#27ae60;">After successful registration as parent, you will be prompted to select package of your choice.</strong></li><li><strong style="color:#27ae60;">
There are three convenient packages for 11plus subjects and one independent schools previous papers package. Please select the required package and click Buy. Payment is made through secured PayPal payment gateway.</strong></li></ul><p></p><p>
<img src="https://11plusehelp.co.uk//assets/designs/faq-images/package-details-upadted.JPG" width="100%"></p>


    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
    6. How to take tests?
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
    <div class="panel-body">
<p><strong style="color:#27ae60;">After buying package, login as child. You can see the available tests to your package by clicking Practice tests in the left side of the menu.</strong></p>
<p><img src="https://11plusehelp.co.uk//assets/designs/faq-images/taking-tests.png" width="100%"></p>
<p><strong style="color:#27ae60;">In the Practice Tests menu you will find the below screen where you can select the test you want to take.</strong></p>
<p><img src="https://11plusehelp.co.uk//assets/designs/faq-images/taking-tests-1.png" width="100%"></p>
<p><strong style="color:#27ae60;">Select the subject required in the drop down menu of Product and you can take the tests.</strong></p>
<p><img src="https://11plusehelp.co.uk//assets/designs/faq-images/taking-tests-2.png" width="100%"></p>
<p><strong style="color:#27ae60;">Follow the instructions and complete the test. Samples are shown below.</strong></p>
<p><img src="https://11plusehelp.co.uk//assets/designs/faq-images/taking-tests-3.png" width="100%"></p>
<p><strong style="color:#27ae60;">Select the answers for questions and submit the test. Results will be displayed after submitting the test and answers for all the questions will be given.</strong></p>
<p><img src="https://11plusehelp.co.uk//assets/designs/faq-images/taking-tests-4.png" width="100%"></p>
<p><strong style="color:#c0392b;">Important Note: If you login as Parent, it is not possible to take test.</strong></p>
</div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingTwo">
    <h4 class="panel-title">
<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    7. How to take FREE DEMO tests?
      </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
    <div class="panel-body">
<p><strong style="color:#27ae60;">Please login as child and click on "Practice Tests" left hand side menu and select "Test Type" value as "Free" to see DEMO tests. Click on "Take Test" to start any test.</strong></p>
<p>
<iframe width="100%" height="500" src="https://www.youtube.com/embed/luGPy4cStog" frameborder="0" allowfullscreen=""></iframe>
</p>

     </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingThree">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      8. Is there any downloadable material?
      </a>
    </h4>
  </div>
  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
    <div class="panel-body">
<p><strong style="color:#27ae60;">11plusehelp provides Children with useful downloadable material. These can be downloaded from the Resources menu.</strong></p>
<p>
<img src="https://11plusehelp.co.uk//assets/designs/faq-images/downlod-resources.png" width="100%"></p>


</div>
</div>
</div>

 <div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSi">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSi" aria-expanded="false" aria-controls="collapseSi" class="collapsed">
      9. I have taken monthly/quarterly/yearly subscription. Can I take independent school tests?

      </a>
    </h4>
  </div>
  <div id="collapseSi" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSi" aria-expanded="false">
    <div class="panel-body">
<p><strong style="color:#27ae60;">No. Independent Schools tests package is different from the regular monthly/quarterly/yearly packages. In order to access independent schools previous question papers, you are required to take Independent Schools package separately.</strong></p>

 </div>
  </div>
</div>

   <div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSe">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSe" aria-expanded="false" aria-controls="collapseSe" class="collapsed">
      10. Where do I see the tests that I have already attempted?

      </a>
    </h4>
  </div>
  <div id="collapseSe" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSe" aria-expanded="false">
    <div class="panel-body">
<p><strong style="color:#27ae60;">In the Test History menu, you will find all the tests that child has attempted and scores achieved in each test.</strong></p><p>
<img src="https://11plusehelp.co.uk//assets/designs/faq-images/test-history.png" width="100%"></p>      </div>
  </div>
</div>




 <div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSe1">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSe1" aria-expanded="false" aria-controls="collapseSe1" class="collapsed">
      11. Do you've any feedback from parents?

      </a>
    </h4>
  </div>
  <div id="collapseSe1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSe1" aria-expanded="false">
    <div class="panel-body">
<p><strong style="color:#27ae60;">You can checkout feedback from other parents here: https://www.facebook.com/11PluseHelp/</strong></p>
  </div>
  </div>
</div>

 <div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSe9">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSe9" aria-expanded="false" aria-controls="collapseSe1" class="collapsed">
      12. If I take subscription, can I've unlimited practice?

      </a>
    </h4>
  </div>
  <div id="collapseSe9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSe9" aria-expanded="false">
    <div class="panel-body">
<p><strong style="color:#27ae60;">Yes, you can have unlimited online practice on 11 Plus subjects - Maths, English, Verbal Reasoning and Non Verbal Reasoning. 11Plusehelp unique feature includes Creative Writing Blog, Child Test Analytics, Resources &amp; Tips. </strong></p>
  </div>
  </div>
</div>



 <div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSe10">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSe10" aria-expanded="false" aria-controls="collapseSe1" class="collapsed">
      13.	Which 11 Plus subjects you cover?

      </a>
    </h4>
  </div>
  <div id="collapseSe10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSe10" aria-expanded="false">
    <div class="panel-body">
<p><strong style="color:#27ae60;">We cover 11 Plus English, 11 Plus Maths, 11 Plus Verbal Reasoning and 11 Plus Non Verbal Reasoning subjects. </strong></p>
  </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSe11">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSe11" aria-expanded="false" aria-controls="collapseSe1" class="collapsed">
      14.	Do you cover 11 Plus Independent schools preparation?

      </a>
    </h4>
  </div>
  <div id="collapseSe11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSe11" aria-expanded="false">
    <div class="panel-body">
<p><strong style="color:#27ae60;">Yes, we do cover Independent Schools. All the fully solved Mathematics previous papers with detailed explanations are available at www.11plusehelp.co.uk. </strong></p>
We are adding more papers regularly. The papers so far added are<br>
<strong style="color:#d35400;">
North London Independent Girls Schools Consortium Group-1
</strong><ul><li>
Francis Holland (Sloane Square)</li>
<li>Francis Holland (Regent’s Park)</li>
<li>Heathfield School</li>
<li>Notting Hill and Ealing High School</li>
<li>Queen’s College</li>
<li> St. Helen’s  School</li>
<li>South Hampstead High School</li>
<li>The Royal School, Hampstead</li></ul>
<strong style="color:#d35400;">North London Independent Girls Schools Consortium Group-2</strong>
<ul><li>Channing School</li>
<li>City of London School for Girls</li>
<li>More House</li>
<li>Northwood College</li>
<li>Queen’s Gate School</li>
<li>St. James Independent School</li>
<li>The Godolphin and Latymer School.</li>
<li> Not in the consortium</li>
<li><strong style="color:#d35400;">Three schools which some families also consider are not in the consortium:</strong></li>
<li>North London Collegiate School for girls</li>
<li>St. Paul’s Girls School</li>
<li>Haberdahser’s Askes’ Girls School</li><ul>

<ul><li>City of London School</li>
<li>St.Paul’s School</li>
<li>The Haberdashers’ Aske’s Boys’ School, Elstree</li>
<li>Bancroft’s School</li>
<li>King’s College Junior School, Wimbledon</li>
<li>Sevenoaks School</li>
<li>Dulwich College</li>
</ul>



  </ul></ul></div>
  </div>


 <div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSe12">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSe12" aria-expanded="false" aria-controls="collapseSe1" class="collapsed">
      15.	Do I get any performance reports of my child?

      </a>
    </h4>
  </div>
  <div id="collapseSe12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSe12" aria-expanded="false">
    <div class="panel-body">
<p><strong style="color:#27ae60;">Yes… Subject topic wise analytics of the child are available to identify the weak areas and improve upon them. We also provide analysis of the tests taken by the child every week.</strong></p>
  </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSe13">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSe13" aria-expanded="false" aria-controls="collapseSe1" class="collapsed">
 16.	Is your tests useful for CEM or CSSE or GL Assessment or any other 11 Plus entrance examination in UK?

      </a>
    </h4>
  </div>
  <div id="collapseSe13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSe13" aria-expanded="false">
    <div class="panel-body">
<p><strong style="color:#27ae60;">Yes…Our tests are useful for preparation of CEM, CSSE and GL assessment and any other 11Plus entrance examinations in UK. We provide basic foundation for 11 plus and various types of questions ranging from easy to challenging. All the tests are timed.</strong></p>
  </div>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSe14">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSe14" aria-expanded="false" aria-controls="collapseSe1" class="collapsed">
 17.	Are your tests timed?

      </a>
    </h4>
  </div>
  <div id="collapseSe14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSe14" aria-expanded="false">
    <div class="panel-body">
<p><strong style="color:#27ae60;">Yes, all our tests are timed and you can check all the history of your child tests in performance report. </strong></p>
  </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSe15">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSe15" aria-expanded="false" aria-controls="collapseSe1" class="collapsed">
18.	Do you've any 11 Plus resources available for download?

      </a>
    </h4>
  </div>
  <div id="collapseSe15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSe15" aria-expanded="false">
    <div class="panel-body">
<p><strong style="color:#27ae60;">Yes, you can checkout our Resources menu to know more about available Resources.</strong></p>
  </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSe16">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSe16" aria-expanded="false" aria-controls="collapseSe1" class="collapsed">
19.	Do you've any Creative Writing blog?

      </a>
    </h4>
  </div>
  <div id="collapseSe16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSe16" aria-expanded="false">
    <div class="panel-body">
<p><strong style="color:#27ae60;">Yes, we've creative writing blog here and feel free to submit your writing: http://11plusehelp.co.uk/blog/</strong></p>
  </div>
  </div>
</div>


</div>

</div>
    </div>
  </div>
</div>
