 <!-- Footer Section -->
 <footer class="footer-section">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12 text-left">
              <div class="about-widget">
                  <div class="footer-logo">
                      <a><h1>11Plus.co.uk</h1></a>
                  </div>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                      eiusmod tempor incididunt ut labore.
                  </p>
                  <span>&copy; 2016 Kidzy School</span>
                  <ul class="social-icon">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12 text-left">
              <div class="footer-widget">
                  <h3>Qucik Link</h3>
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Gallery</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12 text-left">
              <div class="footer-widget">
                  <h3>Classes</h3>
                  <ul>
                      <li><a href="#">Happy Kiddo</a></li>
                      <li><a href="#">Junior Lambs</a></li>
                      <li><a href="#">Master Mind</a></li>
                      <li><a href="#">Rabbit House</a></li>
                      <li><a href="#">Terrific Tigers</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="footer-widget">
                  <h3>Newsletter</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                  <form action="#" method="post" class="subscribe-form">
                      <input type="email" name="email" placeholder="Your email Id">
                      <button class="primary-btn pull-right"><span>Submit</span></button>
                      <div class="clearfix"></div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- /.footer-section -->
