<!-- Breadcrumb  -->
<section class="breadcrumb-section" style="background-color: #6097c4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-center">
                <div class="breadcrumb-content">
                    <h2  style="font-family:courier;"><b>Buy</b></h2>
                    <ul>
                        <li  style="font-family:courier;">Buy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </section>
<div class ="container">
<div class="row">
<div class="col-xs-12 col-sm-4">
<h2>Select Child</h2><ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
<button type="button" class="btn btn-success">Buy Now</button>
</div>

<div class="col-sm-4 col-xs-12 col-sm-offset-4" >
<div class="single-class">
    <div class="class-img">
        <img alt="" src="assets/images/blog/thumb2.jpg" class="img-rounded img-responsive">
        <div class="class-hover">
            <a href="assets/images/home2/testimonial-bg.jpg" class="popup"><i class="icon-link"></i></a>
        </div>
    </div>
    <div class="class-details">
        <h3><a href="class.html">{{examPack.subject | uppercase}}</a></h3>
       
        <div class="clearfix">
            <div class="class-meta pull-left">
                <span>Date</span>
                <p>{{examPack.date}}</p>
            </div>
            <div class="class-meta pull-right">
                <span>Price</span>
                <p>{{examPack.price}}</p>
            </div>
           
        </div>
           <div class="clearfix">
            <div class="class-meta pull-left">
                <span>Class</span>
                <p>{{examPack.ageGroup}}</p>
            </div>
               <div class="class-meta pull-right">
                <span>Seats</span>
                <p>{{examPack.seatsAvailable}}</p>
            </div>
           
           
        </div>
          <div class="clearfix">
              <div class="class-meta">
               <div class="well-sm" style="text-align: center;color: blue;background-color: lightgreen;font-size: 30px;">
                    Venue
                  <p>{{examPack.venue | uppercase}}</p>
                 </div>
               
             </div>
       </div>
    </div>
</div>
</div>
</div>
</div>