<div class="container">
  <br><br>
<div class="row">
                    <div class="col-sm-4 col-xs-12" *ngFor="let exam of examPack">
                        <div class="single-class">
                            <div class="class-img">
                                <img alt="" src="assets/images/blog/thumb2.jpg" class="img-rounded img-responsive">
                                <div class="class-hover">
                                    <a href="assets/images/home2/testimonial-bg.jpg" class="popup"><i class="icon-link"></i></a>
                                </div>
                            </div>
                            <div class="class-details">
                                <h3><a href="class.html">{{exam.subject | uppercase}}</a></h3>
                               
                                <div class="clearfix">
                                    <div class="class-meta pull-left">
                                        <span>Date</span>
                                        <p>{{exam.date}}</p>
                                    </div>
                                    <div class="class-meta pull-right">
                                        <span>Price</span>
                                        <p>{{exam.price}}</p>
                                    </div>
                                   
                                </div>
                                   <div class="clearfix">
                                    <div class="class-meta pull-left">
                                        <span>Class</span>
                                        <p>{{exam.ageGroup}}</p>
                                    </div>
                                       <div class="class-meta pull-right">
                                        <span>Seats</span>
                                        <p>{{exam.seatsAvailable}}</p>
                                    </div>
                                   
                                   
                                </div>
                                  <div class="clearfix">
                                      <div class="class-meta">
                                       <div class="well-sm" style="text-align: center;color: blue;background-color: lightgreen;font-size: 30px;">
                                            Venue
                                          <p>{{exam.venue | uppercase}}</p>
                                         </div>
                                       
                                     </div>
                               </div>

                            <div class="clearfix">
                                      <div class="class-meta col-md-offset-4">
                                       <button class="btn-lg btn-success" [routerLink]= "['/enrol']" (click)="sendPack(exam)" routerLinkActive="active">Enroll Now</button>  
                                
                                     </div>
                                    
                               </div>

                        </div>
                    </div>
</div>