<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <!-- Breadcrumb  -->
        <section class="breadcrumb-section" style="background-color: #6097c4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 text-center">
                        <div class="breadcrumb-content">
                            <h2  style="font-family:courier;"><b>Create Exam</b></h2>
                            <ul>
                                
                                <li  style="font-family:courier;">Create Exam</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.breadcrumb-section  -->


<div class = "container-fluid">
    <div class="row">

            <div class="jumbotron" style="background-color:#5E35B1">
                <h3 align='center'> <b>CREATE EXAM PACK </b></h3>
                <div align = 'center' class = "col-md-4 text-center">
                <button type="button" class="btn btn-primary btn-lg" (click) = "fetchData()">Show Exam Packs</button>
                </div>
                <div align = 'center' class = "col-md-4 text-center">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Create New Pack </button>
                </div>
            </div>
    </div>
</div>

    <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Create Exam Pack</h4>
        </div>
        <div class="modal-body">
                <form class="form-horizontal" action="/action_page.php">
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="email">Class:</label>
                      <div class="col-sm-9">
                        <!--dropdown for class -->
                        <div class="dropdown">
                            <select class="form-control" id="sel1" (change)="getClass($event.target.value)">
                                <option>Select Class</option>
                                <option value = '1'>1</option>
                                <option value = '2'>2</option>
                                <option value = '3'>3</option>
                            </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="pwd">Subjects:</label>
                      <div class="col-sm-9">
                        <!-- Checkbox for class -->
                        <label class="checkbox-inline">
                            <input type="checkbox" name = "chk[]" value="English">English
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name = "chk[]" value="Maths">Maths
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name = "chk[]" value="Science">Science
                         </label>
                      </div>
                    </div>

                <!-- num of test -->
                <div class = "form-group">
                    <label class="control-label col-sm-3" for="pwd">Num of Test:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control"  placeholder="Number of Test" #test>
                    </div>
                </div>


                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" (click)="myData(test)">Submit</button>
                      </div>
                    </div>
                  </form>

        <!-- footer Start -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Exam Pack Details -->
<div *ngIf="shw" class="container">
  <h2>Exams Pack Details</h2>
  <p>These exam packs already created:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Class</th>
        <th>Subjects</th>
        <th>Num of Test</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of examdata">
        <td>{{item.standard}}</td>
        <td>{{item.subject}}</td>
        <td>{{item.nooftests}}</td>
      </tr>
    </tbody>
  </table>
</div>
