  <!-- Breadcrumb  -->
  <section class="breadcrumb-section" style="background-color: #6097c4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 text-center">
                <div class="breadcrumb-content">
                    <h2  style="font-family:courier;"><b>About Us</b></h2>
                    <ul>
                        <li  style="font-family:courier;"><a>Home</a><span>/</span></li>
                        <li  style="font-family:courier;">Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.breadcrumb-section  -->
<br>
<div class="container">
<div >
<h3>Register</h3>
<br>
<form  (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">

<div class="col-xs-6">
<div class="form-group">
<label>I am:</label>
<select class="form-control" (change)= "selectRole($event.target.value)">
  <option>select</option>
   <option value="Parent">Parent</option>
   <option value="Club Member">Club Member</option>
   <option value="Volunteer">Volunteer</option>

</select>
</div>
<div class="form-group">
<label for="firstName">First Name</label>

<input type="text" class="form-control" id="firstName"
       required
       pattern="^[a-zA-Z\s]*$" maxlength="20" minlength="3"
       [(ngModel)]="model.firstName" name="firstName"
       #firstName="ngModel">
<div [hidden]="firstName.valid || firstName.pristine"
     class="alert alert-danger">
      <div [hidden]="!firstName.hasError('required')">Name is required</div>
  <div [hidden]="!firstName.hasError('pattern')">Only alphabetsallowed</div> 
</div>
</div>



    <div class="form-group">
<label for="lastName">Last Name</label>
<input type="text" class="form-control" id="lastName"
         required
       pattern="^[a-zA-Z\s]*$"
       [(ngModel)]="model.lastName" name="lastName" maxlength="20" minlength="3"
       #lastName="ngModel">
<div [hidden]="lastName.valid || lastName.pristine"
     class="alert alert-danger">
      <div [hidden]="!lastName.hasError('required')">LastName is required</div>
  <div [hidden]="!lastName.hasError('pattern')">Only alphabetsallowed</div> 
</div>
</div>

<div class="form-group">
  <label>Gender &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  
  <input type="radio" value="male" name="gender" required [(ngModel)]="model.gender" #gender="ngModel"> Male&nbsp;&nbsp;&nbsp;
  <input type="radio" value="female" name="gender" required [(ngModel)]="model.gender" > Female
  <div [hidden]="gender.valid || gender.pristine"
    class="alert alert-danger">
    <div [hidden]="!gender.hasError('required')">Gender is required</div>
  </div>
  </div>




<div class="form-group">
<label for="name">Email Address</label>
<input type="text" class="form-control" id="emailaddress"
       required
       [(ngModel)]="model.email" name="email"
       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
       #email="ngModel">
<div [hidden]="email.valid || email.pristine"
     class="alert alert-danger">
  <div [hidden]="!email.hasError('required')">Email is required</div>
  <div [hidden]="!email.hasError('pattern')">Email format should be <small><b>joe@abc.com</b></small></div>
</div>
</div>



<div class="form-group">
<label for="name">Mobile Number</label>
<input type="text" class="form-control" id="mobilenumber"
       required
       [(ngModel)]="model.mobile" name="mobilenumber"
       pattern="[0-9]*"
       minlength="10"
       maxlength="10" 
       #mobile="ngModel">
<div [hidden]="mobile.valid || mobile.pristine"
     class="alert alert-danger">
  <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10digit</div>
  <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
  <div [hidden]="!mobile.hasError('pattern')">Mobile numberr should be only numbers</div>
</div>
</div>


<div class="form-group">
<label for="name">Password</label>
<input type="password" class="form-control" id="password"
       required
       [(ngModel)]="model.password" name="password"
       #password="ngModel">
<div [hidden]="password.valid || password.pristine"
     class="alert alert-danger">
  Password is required
</div> 
</div>



<div class="form-group">
<label for="name">Confirm Password</label>
<input type="password" class="form-control" id="confirmPassword"
       required
       validateEqual="password"
       [(ngModel)]="model.confirmPassword" name="confirmPassword"
       #confirmPassword="ngModel">
<div [hidden]="confirmPassword.valid || confirmPassword.pristine"
     class="alert alert-danger">
     Passwords did not match
</div>
</div>

<button type="button" [disabled]="!loginForm.form.valid" (click)="Sub(firstName.value , lastName.value, email.value,
mobile.value, password.value, confirmPassword.value)" class="btn btn-success btn-block"
>Submit</button>
<br>
<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal" >Open Modal</button>
<!--<button (click)= "test()">Testing</button> -->
</div>
<div *ngIf="optional" class="col-xs-6">
  <h4>Optional Details for Second Parent</h4>
  <br>
<div class="form-group" >
  <label for="sfirstName">First Name</label>

  <input type="text" class="form-control" id="sfirstName"
         pattern="^[a-zA-Z\s]*$"
         [(ngModel)]="model.sfirstName" name="sfirstName"
         #sfirstName="ngModel"  maxlength="20" minlength="3">
    <div [hidden]="!sfirstName.hasError('pattern')" class="alert alert-danger">Only alphabets allowed</div> 
</div>



      <div class="form-group">
  <label for="sLastName">LastName</label>
  <br>
  <input type="text" class="form-control" id="sLastName"
         pattern="^[a-zA-Z\s]*$" maxlength="20" minlength="3"
         [(ngModel)]="model.slastName" name="sLastName"
         #sLastName="ngModel" >
  
    <div [hidden]="!sLastName.hasError('pattern')" class="alert alert-danger">Only alphabets allowed</div> 
  
</div>
<div class="form-group">
    <label>Gender&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="radio" value="male" name="sgender" [(ngModel)]="model.sgender" > Male&nbsp;&nbsp;&nbsp;
    <input type="radio" value="female" name="sgender" [(ngModel)]="model.sgender" > Female
    </div>
</div>
</form>

<div id="myModal" class="modal fade" role="dialog" data-backdrop="static">
<div class="modal-dialog">
<div class="modal-content">
    <div class="modal-header">
        
        <h4 class="modal-title">11Plus</h4>
    </div>
    <div class="modal-body">
      <form id="OTPform" #OTPform="ngForm">
        <div class="form-group">
          <br>
          <div><p>Please enter One Time Verification Password to verify your email.Please Check your email for the recieved OTP</p></div>
        
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label" for="OTP" style="font-size:25px">OTP</label>
            <div class="col-xs-5">
                <input type="number" class="form-control" name="OTP" #OTP/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-5 col-xs-offset-4">
              <br>
                <button class="btn btn-primary" (click)="test1(OTP)">Submit</button>
            </div>
        </div>
      </form>
    </div>
</div>
</div>

</div>
</div>

</div>


