.form{
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
    background: #fff;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}