
<!-- Header Area -->
<header class="header-area">
  <!-- Header Top Area -->
  <section class="header-top">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-xs-12">
                  <div class="header-elements pull-right">
                      <ul class="social-icon pull-left">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                      </ul>
                      <div class="language pull-left">
                          <a href="#">
                              <i class="icon-translator"></i>
                              <span>English</span>
                              <i class="fa fa-angle-down"></i>
                          </a>
                          <ul class="lang-dropdown">
                              <li>
                                  Arabic (AR)
                              </li>
                              <li>
                                  French (FR)
                              </li>
                              <li>
                                  English (UK)
                              </li>
                          </ul>
                      </div>
                      <div class="login-or-signup pull-left">
                          <a [routerLink]="['/register']"><i class="icon-user"></i><span>Sign up</span></a>
                          <a [routerLink]="['/login']"><i class="icon-user"></i><span>Login</span></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- /.header-top -->
  <nav class="navigation">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-xs-12">
                  <div class="logo pull-left">
                      <h1>11plus.co.uk</h1>
                  </div>
                  <ul class="main-menu pull-right">
                      <li class="menu-has-child">
                          <a  [routerLink]="['/index']" >Home</a>

                      </li>
                     <!-- <li><a [routerLink]="['/error']"> error</a></li>-->
                      <li class="menu-has-child">
                          <a href="#">Pages</a>
                          <ul>
                              <li>
                                  <a routerLink=''>Event</a>

                              </li>

                              <li><a [routerLink]="['/contact']">Contact</a></li>
                              <li><a [routerLink]="['/AboutUs']">About Us</a></li>      

                          </ul>
                      </li>
                      <li><a [routerLink]="['/faq']">FAQ</a></li>
                      <li class="menu-has-child">
                          <a href="class.html">Exam pack</a>
                          <ul>
                              <li><a [routerLink]="['/createExam']">Create Exam</a></li>
                              <li><a [routerLink]="['/listing']">Exam Pack List</a></li>
                          </ul>
                      </li>
                      <li class="menu-has-child">
                          <a href="blog.html">Blog</a>
                          <ul>
                              <li><a href="blog-details.html">Blog Details</a></li>
                          </ul>
                      </li>
                      <li class="menu-has-child">
                          <a href="teacher.html">Teacher</a>
                          <ul>
                              <li><a href="teacher-details.html">Teacher Details</a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="#" id="search-pop"><i class="fa fa-search"></i></a>
                      </li>
                  </ul>
                  <div class="mobile-menu hidden-lg hidden-md hidden-sm">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="search-area">
          <form action="#" method="post">
              <input type="search" name="search" placeholder="Enter your Search Text Here....">
          </form>
          <a href="#" class="search-close"><i class="fa fa-times"></i></a>
      </div>
  </nav>
</header>
<!-- /.header-area -->












