
<!-- Breadcrumb  -->
        <section class="breadcrumb-section" style="background-color: #6097c4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 text-center">
                        <div class="breadcrumb-content">
                            <h2  style="font-family:courier;"><b>About Us</b></h2>
                            <ul>
                                <li  style="font-family:courier;"><a href="index-2.html">Home</a><span>/</span></li>
                                <li  style="font-family:courier;">About Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.breadcrumb-section  -->

        <!-- Classes Section -->
        <section class="who-we-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="who-we-img">
                            <img alt="" src="./assets/images/about/who.png" style="margin-top:200px;">
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 text-left">
                        <div class="who-we-details">
                            <h2 class="title-2" style="font-family:Verdana;color:black;"><b>Who We Are</b></h2>
                            <p class="subtitle color" style="font-family:cVerdana;color:black;"><b>We Create Something New</b></p>
                            <article class="who-we-content">
                                <p  style="font-family:Georgia;color:black;">
                                  11plus.co.uk (a Chuckra project) is the UK’s favourite online 11+ community as it hosts the ultimate 11+ Assessment Tool, COAsT – an online testing environment which helps you to:
                                  
                                  Understand how your child compares to other students taking the same tests
                                  
                                  Tailor your child’s preparation: track progress and easily establish strengths & weaknesses
                                  
                                  Motivate your child: fun, interactive practice tests, activities to boost core skills
                                  
                                  PLUS all students can attend physical Mock Exam Days around the country and receive feedback online in COAsT (Chuckra Online Assement Tool).
                                  
                                  And that is all in addition to our much loved free preparation resources. You can find out more about how 11plus.co.uk can help you and your child to prepare for the 11 plus exam by reading the frequently asked questions in our Website Support, or if you are raring to dive right in…
                                  
                                  REGISTER today and coast the 11+, with 11plus.co.uk
                                </p>
                                <div>
                                <p style="font-family:Georgia;color:black;">
                                  Background
                                  The company behind 11plus.co.uk is Chuckra Ltd – a small company with a big heart.
                                  
                                  Chuckra has a range of websites providing educational and cognitive enhancement resources which are available for free (where possible) or at genuinely low prices.
                                  
                                  Company Ethos: Striving to make the 11 plus a fair test by providing high quality practice resources for everyone – free (where possible) or at genuinely low prices.</p></div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.who-we-section -->

        <!-- Promo Section -->
        <section class="promo-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-md-5 col-xs-12">
                        <div class="promo-content">
                            
                            <h4 style="font-family:Verdana;color:black"><b>11plus.co.uk</b></h4>
                            <p style="font-family:Georgia;color:black;">
                              11plus is great! Most things are FREE so that’s really good 😉 There are so many things to go on and the Verbal Reasoning videos of youtube really helped you to understand. Other websites usually make you pay for tests or you have one test and you pay for the next, but this is great! Everything you need to pass is right here . If you’re reading this and never been on and used 11plus, sign up right now! and start using the practice papers.
                            </p>
                            <a href="#" class="primary-btn"><span style="font-family:courier;color:black;background-color: #6097c4;">Enroll Yourself</span></a>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-7">
                        <div class="exam">
                            <img alt="" src="./assets/images/home1/exam.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.promo-section -->

        <!-- Learn Section -->
        <section class="learn-section" style="margin-top:100px;" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-7 col-xs-12">
                        <div class="learn">
                            <img alt="" src="./assets/images/about/learn.jpg">
                        </div>
                    </div>
                    <div class="col-sm-5 col-xs-12">
                        <div class="learn-details">
                            <h2 class="title-2" style="font-family:Verdana;color:black;"><b>Learn</b></h2><br><br>
                
                            <article class="learn-content">
                                <p style="font-family:Georgia; color:black;">
                                  Read the Exam Preparation FAQ which shares advice for parents or tutors on how to help a student prepare for the eleven plus exams.
                                </p>
                                <ul style="font-family:Georgia;color:black;">
                                    <li style="font-family:Georgia;">
                                        <i class="fa fa-check"></i>
                                        <span >
                                            Brainpower
                                        </span>
                                    </li><br>
                                    <li style="font-family:Georgia;">
                                        <i class="fa fa-check"></i>
                                        <span>
                                           English
                                        </span>
                                    </li><br>
                                    <li style="font-family:Georgia;">
                                        <i class="fa fa-check"></i>
                                        <span>
                                          Maths & Numerical Reasoning
                                        </span>
                                    </li><br>
                                    <li style="font-family:Georgia;">
                                      <i class="fa fa-check"></i>
                                      <span>
                                        Non Verbal Reasoning
                                      </span>
                                  </li><br>
                                  <li style="font-family:Georgia;">
                                    <i class="fa fa-check"></i>
                                    <span>
                                      Verbal Reasoning
                                    </span>
                                </li>
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
              <br>
        </section>
        <!-- /.learn-section -->

        <!-- Welcome Section -->
        <!-- <section class="activity-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 text-center">
                        <h2 class="title-2">Our Activities</h2>
                        <p class="subtitle color">Best Services for Kids</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                        <div class="welcome-img">
                            <img alt="" src="./assets/images/home1/about1.jpg">
                            <div class="welcome-content">
                                <div class="svg-overlay">
                                    <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" preserveAspectRatio="none"><path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z"></path></svg>
                                </div>
                                <i class="icon-reader"></i>
                                <h4>Active Learning</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    sed do eiusmod tempor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                        <div class="welcome-img two">
                            <img alt="" src="./assets/images/home1/about2.jpg">
                            <div class="welcome-content">
                                <div class="svg-overlay">
                                    <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" preserveAspectRatio="none"><path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z"></path></svg>
                                </div>
                                <i class="icon-music-class"></i>
                                <h4>Music Lessons</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    sed do eiusmod tempor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                        <div class="welcome-img three">
                            <img alt="" src="images/home1/about3.jpg">
                            <div class="welcome-content">
                                <div class="svg-overlay">
                                    <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" preserveAspectRatio="none"><path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z"></path></svg>
                                </div>
                                <i class="icon-teacher"></i>
                                <h4>Professional Teachers</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    sed do eiusmod tempor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                        <div class="welcome-img four">
                            <img alt="" src="./assets/images/home1/about4.jpg">
                            <div class="welcome-content">
                                <div class="svg-overlay">
                                    <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" preserveAspectRatio="none"><path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z"></path></svg>
                                </div>
                                <i class="icon-parents"></i>
                                <h4>Parents Day</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                    sed do eiusmod tempor.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- /.activity-section -->
        <!-- Team Section -->
        <!-- <section class="team-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 text-center">
                        <h2 class="title" style="font-family:verdana;color:black;"><b>Meet Our Staffs</b></h2>
                        <p class="subtitle color" style="font-family:courier;color:black;">
                            Best Skilled Teacher
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                        <div class="single-team">
                            <div class="team-img">
                                <img alt="" src="./assets/images/about/staff1.jpg">
                                <ul class="team-social">
                                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h3 style="font-family:Georgia;">Divyansh Kakran</h3>
                            <p style="font-family:Georgia;color:black; ">Assistant Teacher</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                        <div class="single-team">
                            <div class="team-img">
                                <img alt="" src="./assets/images/about/staff2.jpg">
                                <ul class="team-social">
                                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h3 style="font-family:Georgia;">Sudha </h3>
                            <p style="font-family:Georgia; color:black;">Assistant Teacher</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                        <div class="single-team">
                            <div class="team-img">
                                <img alt="" src="./assets/images/about/staff3.jpg">
                                <ul class="team-social">
                                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h3 style="font-family:Georgia;">Hemant</h3>
                            <p style="font-family:Georgia;color:black;"> Assistant Teacher</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                        <div class="single-team">
                            <div class="team-img">
                                <img alt="" src="./assets/images/about/staff4.jpg">
                                <ul class="team-social">
                                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h3 style="font-family:Georgia;">Barkha</h3>
                            <p style="font-family:cGeorgia;color:black;">Assistant Teacher</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                        <div class="single-team">
                            <div class="team-img">
                                <img alt="" src="./assets/images/about/staff5.jpg">
                                <ul class="team-social">
                                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h3 style="font-family:Georgia;">Manish Kumar</h3>
                            <p style="font-family:Georgia;color:black;">Assistant Teacher</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                        <div class="single-team">
                            <div class="team-img">
                                <img alt="" src="./assets/images/about/staff6.jpg">
                                <ul class="team-social">
                                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h3 style="font-family:Georgia">Mukesh</h3>
                            <p  style="font-family:Georgia;color:black;">Assistant Teacher</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                        <div class="single-team">
                            <div class="team-img">
                                <img alt="" src="./assets/images/about/staff9.jpg" style="height:270px;">
                                <ul class="team-social">
                                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h3 style="font-family:Georgia;">Pankaj Rathour</h3>
                            <p style="font-family:Georgia;color:black;">Assistant Teacher</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                        <div class="single-team">
                            <div class="team-img">
                                <img alt="" src="./assets/images/about/staff8.jpg">
                                <ul class="team-social">
                                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <h3 style="font-family:Georgia;">Abhishek</h3>
                            <p style="font-family:Georgia;color:black;">Assistant Teacher</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-12 text-center">
                        <div class="stuff-button">
                            <a class="primary-btn" href="#"><span style="font-family:courier;color:black;background-color: #6097c4;">See all Staff</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- /.team-section -->

       

        <!-- Address Section -->
        <!-- <section class="address-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                        <div class="single-address">
                            <i class="icon-class"></i>
                            <h3>Class Sessions</h3>
                            <address>
                                <p>Sat - Fri (8 am – 2 pm)</p>
                                <p>Sun - Mon (8 am – 11 am)</p>
                            </address>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                        <div class="single-address two">
                            <i class="icon-map"></i>
                            <h3>Kidzy Address</h3>
                            <address>
                                <p>123 White Amphitheatre Kinway,</p>
                                <p>Mountain, CA 12345, USA</p>
                            </address>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                        <div class="single-address three">
                            <i class="icon-clock"></i>
                            <h3>Office Hours</h3>
                            <address>
                                <p>Monday – Friday</p>
                                <p>8.00 am – 5.00 pm</p>
                            </address>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                        <div class="single-address four">
                            <i class="icon-call"></i>
                            <h3>Phone & E-mail</h3>
                            <address>
                                <p>+123 456 78910</p>
                                <p>enroll@kidzy.com</p>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!- /.address-section -->

        <!-- Footer Section -->
        <!-- <footer class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 text-left">
                        <div class="about-widget">
                            <div class="footer-logo">
                                <a href="index-2.html"><img alt="" src="./assets/images/home1/footer-logo.png"></a>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                                eiusmod tempor incididunt ut labore.
                            </p>
                            <span>&copy; 2016 Kidzy School</span>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 text-left">
                        <div class="footer-widget">
                            <h3>Qucik Link</h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 text-left">
                        <div class="footer-widget">
                            <h3>Classes</h3>
                            <ul>
                                <li><a href="#">Happy Kiddo</a></li>
                                <li><a href="#">Junior Lambs</a></li>
                                <li><a href="#">Master Mind</a></li>
                                <li><a href="#">Rabbit House</a></li>
                                <li><a href="#">Terrific Tigers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-widget">
                            <h3>Newsletter</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            <form action="#" method="post" class="subscribe-form">
                                <input type="email" name="email" placeholder="Your email Id">
                                <button class="primary-btn pull-right"><span>Submit</span></button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer> --> 
        <!-- /.footer-section -->
