.four-zero-four-section {
  background: rgba(0, 0, 0, 0) url(../../assets/images/404/section-bg.png) no-repeat scroll center top;
  padding: 65px 0 105px;
}
.four-zero-content h1{
  line-height: 1;
  font-size: 308px;
  color: #92278f;
  font-weight: 400;
  background: url(../../assets/images/404/title-bg.png) no-repeat scroll center center;
  padding: 46px 0 0;
}
.four-zero-content h1 span{
  color: #fff;
}
.four-zero-content h3{
  color: #000000;
  font-size: 34px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 15px;
}
.four-zero-content p{
  color: #666666;
  font-size: 18px;
  line-height: 24px;
}
.four-zero-content a{
  margin: 50px auto 61px;
}
.four-zero-copy{
  color: #545454;
  font-size: 14px;
}
.four-zero-copy a{
  color: #92278f;
}
