

<!-- Slider Area -->
<div id="owl-init">
    <section class="slider-area">
        <div class="slider-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 text-left">
                        <div class="slider-content">
                            <h3 class="wow fadeInLeft" data-wow-duration="700ms" data-wow-delay="300ms">Welcome !</h3>
                            <h2 class="wow fadeInLeft" data-wow-duration="700ms" data-wow-delay="350ms">11 plus Provides</h2>
                            <h2 class="wow fadeInLeft" data-wow-duration="700ms" data-wow-delay="400ms">Latest and Updated Online Practice Tests</h2>
                            <a class="primary-btn wow fadeInLeft" data-wow-duration="700ms" data-wow-delay="450ms" href="#"><span>Admission Now</span></a>
                            <div class="slider-img">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="slider-area slider-4">
        <div class="slider-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 text-left">
                        <div class="slider-content">
                            <h3 class="wow fadeInLeft" data-wow-duration="700ms" data-wow-delay="300ms">Sharpen your </h3>
                            <h2 class="wow fadeInLeft" data-wow-duration="700ms" data-wow-delay="350ms">Child's Skills with our</h2>
                            <h2 class="wow fadeInLeft" data-wow-duration="700ms" data-wow-delay="400ms">Practice tests</h2>
                            <a class="primary-btn wow fadeInLeft" data-wow-duration="700ms" data-wow-delay="450ms" href="#"><span>Admission Now</span></a>
                            <div class="slider-img">
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
  </div>
  <!-- /.slider-area -->

        <!-- Welcome Section -->
        <section class="welcome-section">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 col-xs-12 text-center">
                      <h2 class="title">Welcome to 11plus</h2>
                      <p class="subtitle">Starting with the new school year in our kindergarten</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                      <div class="welcome-img">
                          <img alt="" src="assets/images/home3/boy.png">
                          <div class="welcome-content">
                              <div class="svg-overlay">
                                  <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" preserveAspectRatio="none"><path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z"></path></svg>
                              </div>
                              <i class="icon-reader"></i>
                              <h4>11Plus Maths</h4>
                              <p>
                                  11plus motivates the students to solve the Maths exam problems oneself in an easy and effective manner. As a saying “practice makes a man perfect”, we provide extensive Maths practice tests for making the child to succeed in the exams.
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                      <div class="welcome-img two">
                          <img alt="" src="assets/images/home1/about2.jpg">
                          <div class="welcome-content">
                              <div class="svg-overlay">
                                  <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" preserveAspectRatio="none"><path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z"></path></svg>
                              </div>
                              <i class="icon-reader"></i>
                              <h4>11Plus English</h4>
                              <p>
                                  11plus aims to make the child proficient in English and to augment vocabulary, comprehension and creative writing skills through various exam based English practice tests.
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                      <div class="welcome-img three">
                          <img alt="" src="assets/images/home1/about3.jpg">
                          <div class="welcome-content">
                              <div class="svg-overlay">
                                  <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" preserveAspectRatio="none"><path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z"></path></svg>
                              </div>
                              <i class="icon-teacher"></i>
                              <h4>11Plus Verbal Reasoning</h4>
                              <p>
                                  11plus tunes the brain of the child on verbal reasoning skills through stimulating Verbal reasoning tests. Verbal reasoning is a complex area which requires greater insight to comprehend the verbal reasoning that is based on logical and analytical approach.
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-12 text-center">
                      <div class="welcome-img four">
                          <img alt="" src="assets/images/home1/about4.jpg">
                          <div class="welcome-content">
                              <div class="svg-overlay">
                                  <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" preserveAspectRatio="none"><path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z"></path></svg>
                              </div>
                              <i class="icon-teacher"></i>
                              <h4>11Plus Non-Verbal reasoning</h4>
                              <p>
                                  11plus aid the child in improving Non-Verbal Reasoning skills through several exciting online tests. Our mind can grasp a subject or a concept in the form of pictures.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- /.welcome-section -->

      <!-- Promo Section -->
      <section class="promo-section">
          <div class="container">
              <div class="row">
                  <div class="col-sm-7 col-md-5 col-xs-12">
                      <div class="promo-content">
                          <div class="promo-img">
                              <img src="" alt="">
                          </div>
                          <h2>11 Plus</h2>
                          <p>
                             11plus.co.uk is the UK’s online community designed to make it easier for Parents, Tutors and Students to prepare for entrance tests such as:
                          </p><ul>
                            <li>The 11+ Exam</li>
                            <br>
                            <li>Independent School Entrance Tests</li>
                            <br>
                            <li>Common Entrance Exams</li>
                            </ul><p>
11plus.co.uk has helped literally thousands of children pass their entrance exams (CEM Durham, GL Assessment, Moray House, CSSE and more). With our famous 11 plus resources and the ultimate 11+ Assessment Tool, COAsT, you are well placed in your quest for that elusive grammar school or independent school place.
                          </p>
                          <a href="#" class="primary-btn"><span>Enroll Your Child</span></a>
                      </div>
                  </div>
                  <div class="col-sm-5 col-md-7">
                      <div class="enroll-img">
                          <img alt="" src="assets/images/home1/enroll-img.png">
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- /.promo-section -->

      <!-- Testimonial Section -->
      <section class="testimonial-section">
          <div class="container">
              <div class="row">
                  <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                      <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                              <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
                              <li data-target="#testimonial-carousel" data-slide-to="1"></li>
                              <li data-target="#testimonial-carousel" data-slide-to="2"></li>
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                              <div class="item active">
                                  <div class="testimonials text-center">
                                      <div class="testimonial-img">
                                          <img alt="" src="assets/images/home1/testi-person.jpg">
                                      </div>
                                      <div class="testimonial-details">
                                          <i class="icon-testimonial"></i>
                                          <h4>Sue</h4>
                                          <span>Parents</span>
                                          <p>
                                              “ My daughter did 2 chuckra mock exams last summer and successfully the passed
                                              her 11+ and is going to The Latymer School in September. The exams are a great
                                              way of assessing what needs to be done and getting them used to the pressure of
                                               sitting in a big hall and experiencing the feel of an exam. Certainly there was
                                                a huge amount to do in the exam but my daughter said they were much harder then
                                                 the actual 11+ exam! Don't tell your kids that….they are really good to do and
                                                  you get a chance to go through the questions on line afterwards to see where
                                                   your weaknesses are.”
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="testimonials text-center">
                                      <div class="testimonial-img">
                                          <img alt="" src="assets/images/home1/testi-person.jpg">
                                      </div>
                                      <div class="testimonial-details">
                                          <i class="icon-testimonial"></i>
                                          <h4>Karen</h4>
                                          <span>Parents</span>
                                          <p>
                                              “ I am really pleased that I booked 2 chukra mock tests with about 4-6 weeks apart.
                                               I think the best thing was that on the real day my daugther was used to turning up at
                                                a different setting, settling down reading the exam questions and listening to instructions,
                                                 knowing how it was going to be on the real day. She said she found the mock tests really
                                                 difficult, and she then did Kendrick and Bucks school tests. She found the real tests much easier
                                                 than the mocks. I nealy withdrew her from the whole process after seeing the mock results,
                                                 she was in the bottom 10 percent for one paper and only beat 45% of others in the other
                                                 paper – so don't despair i think it makes you aware that you need to pull your socks up.
                                                 She ended up with a very good pass for Bucks but didn't pass Kendrick.”
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="testimonials text-center">
                                      <div class="testimonial-img">
                                          <img alt="" src="assets/images/home1/testi-person.jpg">
                                      </div>
                                      <div class="testimonial-details">
                                          <i class="icon-testimonial"></i>
                                          <h4>Nazma</h4>
                                          <span>Parents</span>
                                          <p>
                                              “ Chuckra this is a great website for nearly every child from all over the country.
                                              This site is one of the best sites and it is really helping me. Thank you Chuckra.
                                              I gave this site a rating of 5 stars because its absolutely brilliant thanks! My son
                                              got into the best secondary school, the one we wanted, the following year my sisters
                                              son used and passed 11+ and has been offered a place at the best school that he wanted.
                                              Thanks for the support.”
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- /.testimonial-section -->
